* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(/img/background.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  font-family: "Poppins", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  width: 40%;
  color: orange;
  text-transform: uppercase;
  float: left;
}

.menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: right;
}

.navbar a {
  float: right;
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  display: flex;
  align-items: center;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 14px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 18px;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--white::after {
  background-color: white;
}

.btn:hover::after {
  transform: scaleX(1.4) scale(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-box {
  width: 480px;
  height: 420px;
  position: relative;
  margin: 6% auto;
  background-color: #ffffff;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.heading-primary--admin {
  display: block;
  text-align: center;
  margin: 0 0 30px;
  padding: 0;
  color: #f7497d;
  text-transform: uppercase;
  text-align: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

label {
  width: 100%;
  color: #000;
  font-size: 14px;
  padding: 20px 30px;
}

input,
select {
  width: 100%;
  font-size: 13px;
  color: black;
  padding: 5px 0;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.data a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  font-size: 13px;
  text-decoration: none;
  letter-spacing: 1px;
  background-color: orange;
  color: white;
}

.data a:hover {
  background-color: orangered;
  color: white;
}
